.grid_16, .container_16,
.grid_14, .container_14,
.grid_11, .grid_5, .grid_4
 {
	width: 100% !important;
}

.grid_5, .grid_1, 
.rasterize, .menu-bg {
	display: none;
}

.ticker * {
	display: none;
}

.grid_4 {
	margin-left: 10px;
	display: block;
}

.footer {
	height: auto;
	padding: 5px;
}

.footer .byline {
	position: relative !important;
	left: 0 !important;
}

table tr {
	display: block;
	height: auto !important;
}

table tr td {
	display: block;
	width: 96% !important;
	margin: 1% !important;
	padding: 1% !important;
}

td.talk {
	height: 55px;
}